.modal {
  background: #242424;
  border-radius: 4px;
  color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin-bottom: 10vh;
  max-height: 80vh;
  overflow-y: auto;
  padding: 20px;
  width: 60vw;
  z-index: 200;
}
.modal-background {
  align-items: center;
  background: #FFFFFF20;
  display: none;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal-head {
  border-bottom: 2px solid #404040;
  display: flex;
  justify-content: space-between;
  padding: 0 0 10px 10px;
}
.modal-head h2,
.modal-head span {
  font-size: 36px;
}
.modal-head span {
  color: #CCCCCC;
  margin-left: 10px;
}
.modal-head span:hover {
  color: #EEEEEE;
  cursor:default;
}
.modal-content {
  min-height: 200px;
  padding: 20px;
}

@media screen and (max-width: 1100px) {
  .modal {
    width: 80vw;
  }
  .modal h2 {
    font-size: 30px;
  }
}
@media screen and (max-width: 700px) {
  .modal {
    font-size: 14px;
    margin-bottom: 0;
    width: 90vw;
  }
  .modal h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 450px) {
  .modal {
    max-height: 90vh;
    padding: 12px;
  }
}
