.number-input-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.number-input-container input[type='number'] {
  background: #404040;
  border-radius: 4px;
  box-shadow: 4px 4px 8px #000,
              inset 4px 4px 8px #00000030, 
              inset -4px -4px 8px #FFFFFF10;
  border-style: none;
  color: #EEEEEE;
  margin-bottom: 4px;
  line-height: 1.8;
  text-align: center;
  min-width: 120px;
  max-width: 155px;
  padding: 1px 30px;
  -moz-appearance: textfield;
}
.number-input-container input[type='number']:hover {
  box-shadow: 4px 4px 4px 2px #000,
              inset 4px 4px 8px #00000030, 
              inset -4px -4px 8px #FFFFFF10;
}
.number-input-container input::-webkit-outer-spin-button,
.number-input-container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-input-container .number-input-btn {
  box-shadow: 2px 2px 6px 0 #000,
              inset 2px 2px 4px #FFFFFF10, 
              inset -2px -2px 4px #00000030;
  width: 10px;
  height: 10px;
  position: absolute;
  text-align: center;
  bottom: 10px;
}
.number-input-container .number-input-btn:hover {
  box-shadow: 2px 2px 2px 0px #000,
              inset 4px 4px 8px #FFFFFF10, 
              inset -4px -4px 8px #00000030;
}
.number-input-container .number-input-btn:active {
  box-shadow: 3px 3px 6px #000,
              inset 4px 4px 8px #00000030, 
              inset -4px -4px 8px #FFFFFF10;
  padding: 11px 9px 9px 11px;
}
.number-input-container .number-input-btn:disabled {
  box-shadow: 1px 1px 2px #00000070,
              inset 4px 4px 8px #00000030, 
              inset -4px -4px 8px #FFFFFF10;
  background-color: #555;
  padding: 11px 9px 9px 11px;
  color: #AAA;
}
.number-input-container .plus-btn {
  right: 5px;
}
.number-input-container .minus-btn {
  left: 5px;
}
.number-input-container .number-input-btn span {
  bottom: 11px;
  font-size: 22px;
  position: relative;
  right: 11px;
}
