.app-container {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.controls-container {
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 16px 6px 20px;
}

.controls {
  background-color: transparent;
  color: white;
  display: flex;
  height: 100%;
  justify-content: space-evenly;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 22px 10px 0;
  text-align: center;
}

.control p {
  margin: 8px 0 0 0;
}

.logo {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: center;
  text-align: center;
}

.logo img {
  height: 74px;
  width: auto;
}

.pause-play-control {
  margin-bottom: 0;
}

.pause-play-btn {
  background-color: #61A84D;
  box-shadow: 6px 6px 21px #444, -6px -6px 21px #777;
  color: white;
  font-weight: bold;
  width: 70px;
  height: 50px;
  border-radius: 5px;
}

.number-input {
  /* background-color: #404040; */
  line-height: 2;
  padding-left: 9px;
  background: linear-gradient(145deg, #1F1F1F, #292929);
  box-shadow: inset 4px 4px 4px #1c1c1c, inset -4px -4px 4px #2c2c2c;
  border: 1px solid #333;
  border-radius: 5px;
  color: white;
  width: 100px;
}

.form-control-color {
  background-color: #333;
  border: 1px solid #333;
  width: 30px;
  margin: 0 8px;
  padding: 0;
}

.color-picker {
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}

/* Grid.js */
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-row {
  display: flex;
}
