.app-container {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.controls-container {
  background-color: transparent;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-evenly;
}

.control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 74px;
  width: auto;
}

.pause-play-btn {
  background-color: #61A84D;
  color: white;
  font-weight: bold;
  width: 70px;
}

.number-input {
  background-color: #404040;
  border: 2px solid #707070;
  border-radius: 5px;
  color: white;
  width: 100px;
}

.form-control-color {
  background-color: #707070;
  border: 2px solid #707070;
  margin: 0 5px;
  padding: 0;
}

.color-picker {
  display: flex;
  flex-direction: row;
}

/* Grid.js */
.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-row {
  display: flex;
}
