/* ----- Custom Properties ----- */
:root {
  --cell-off: #404040;
  --cell-on: #40BB6C;
  --cell-border-radius: 0;
}
.cell {
  border-radius: var(--cell-border-radius);
}
.cell-on {
  background: var(--cell-on);
}
.cell-off {
  background: transparent;
}

/* ----- Main Layout Containers ----- */
.app-container {
  background: #242424;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}
.grid-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.controls-container {
  color: #EEE;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 12px 4px 22px;
}
.controls,
.about {
  color: #EEE;
  display: flex;
  justify-content: space-between;
}
.control,
.counter,
.info,
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
}
.control {
  width: fit-content;
}

/* ----- Buttons and Links ----- */
button {
  background: #404040;
  border-radius: 4px;
  border-style: none;
  box-shadow: 6px 6px 10px 0 #000,
              inset 4px 4px 8px #FFFFFF10, 
              inset -4px -4px 8px #00000030;
  color: #EEE;
  height: 50px;
  line-height: 1;
  padding: 10px;
  width: 50px;
}
button:hover {
  box-shadow: 6px 6px 6px 2px #000,
    inset 4px 4px 8px #FFFFFF10, 
    inset -4px -4px 8px #00000030;
}
button:active {
  box-shadow: 3px 3px 6px #000,
              inset 4px 4px 8px #00000030, 
              inset -4px -4px 8px #FFFFFF10;
  padding: 11px 9px 9px 11px;
}
.controls .control .random-btn {
  background: rgb(64,187,108);
  background: linear-gradient(240deg, rgba(0,176,144,1) 0%, rgba(64,187,108,1) 28%, rgba(82,190,98,1) 68%, rgba(150,201,61,1) 100%);
  color: #111;
  font-weight: bold;
  letter-spacing: 0.5px;
  width: auto;
}
.controls .control .random-btn:hover {
  background: rgb(150,201,61);
  background: linear-gradient(60deg, rgba(0,176,144,1) 0%, rgba(64,187,108,1) 28%, rgba(82,190,98,1) 68%, rgba(150,201,61,1) 100%);
}
a {
  color: #0594ED;
}
a:visited {
  color: #A049F2;
} 

/* ----- Controls ----- */
.control label {
  margin-bottom: 2px;
  font-size: 14px;
}
.control label span {
  font-size: 10px;
}
.controls .control .config-btn {
  display: none;
}
.control {
  width: fit-content;
}

/* ----- About Section ----- */
.about .counter p {
  margin-bottom: 0;
  margin-right: 10px;
  text-shadow: 4px 4px 3px #000;
}
.about .logo img {
  filter: drop-shadow(6px 6px 2px #000);
  height: 74px;
  margin-bottom: 5px;
  width: auto;
}
.about .logo img:hover {
  filter: drop-shadow(6px 6px 0px #000);
}
.about .logo img:active {
  margin-top: 2px;
  filter: drop-shadow(3px 3px 0px #000);
}

/* ----- Baner ----- */
.baner {
  background: #00000075;
  border-radius: 4px;
  color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  left: 50%;
  padding: 20px;
  position: fixed;
  top: 100px;
  transform: translateX(-50%);
}

/* ----- Config Modal ----- */
#config-modal .modal {
  max-width: 400px;
}

/* ----- Animations ----- */
@keyframes rotate360 {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.swirly-plant {
  animation-name: rotate360;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

@keyframes fade-out {
	0% { opacity: 1 }
	100% { opacity: 0 }
}
.fade-out {
  animation-name: fade-out;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* ----- Responsive Behaviour ----- */
@media screen and (max-width: 1100px) {
  .config-controller.row-direction {
    display: none;
  }
  .controls .control .config-btn {
    display: block;
  }
}
@media screen and (max-width: 700px) {
  .control,
  .counter,
  .info,
  .logo {
    margin: 0 5px;
    text-align: center;
  }
  .controls .config {
    display: none;
  }
  .controls-container {
    height: 80px;
    justify-content: space-between;
    padding: 0 8px 4px 8px;
  }
  button {
    height: 40px;
    padding: 5px;
    width: 40px;
  }
  button:active {
    padding: 6px 4px 4px 6px;
  }
  .controls .control .random-btn {
    font-size: 14px;
  }
  .about .counter p {
    margin-right: 4px;
  }
  .logo {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .control,
  .counter,
  .info,
  .logo {
    margin: 0 4px;
  }
  .controls-container {
    height: 70px;
    padding: 0 6px 4px 6px;
  }
  button {
    height: 36px;
    width: 36px;
  }
}